html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
	font-family: sans-serif;
	background: white;
	margin: 0;
	color: #33333d;
	text-align: center;
}

.item {
	text-align: left;
	font-size: 2em;
	border: solid 1px black;
	margin: 5% 15% 5% 15%;
}

li {
 	display: inline-block;
 	position: relative;
 }

.item li {
	padding: 0 15px 0 0;
}

.images {
	height: 150px;
	width: 150px;
}

aside, .info {
	margin: 0 15% 0 15%;
}

aside {
	text-align: right;
}

.info {
	text-align: left;
}

 .links {
 	font-size: .7em;
 	list-style-type: none;
 }

 .links li {
  	padding: 5px;
 }